@model StudyItem
@{
    ViewData["Title"] = "Edit study item";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Edit" asp-controller="StudyItem" asp-route-id="@Model.Id">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudyType"></label>
                    <select asp-for="StudyType">
                        @{
                            foreach (var type in ViewBag.StudyItemTypes)
                            {
                                <option value=@(type.Key)>@(type.Value)</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
