@model IEnumerable<UnivercityWebApp.Models.StudyItem>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Список предметов и курсовых работ</h2>
<table class="table">
    @foreach (var studyItem in Model)
    {
        <tr>
            <td>@studyItem.Name</td>
            @*<td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>*@
        </tr>
    }
</table>